.App {
  text-align: center;
  font-family: sans-serif;
}

.message-container {
  height: 300px;
  border: 1px solid #ccc;
  margin: 20px auto;
  padding: 10px;
  overflow-y: scroll;
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  max-width: 70%;
}

.message.me {
  background-color: #dcf8c6;
  align-self: flex-end;
}

.message.friend {
  background-color: #f0f0f0;
  align-self: flex-start;
}

input {
  width: calc(80% - 90px);
  max-width: 510px;
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px;
}
